$white: #ffffff
$black: #000000
$bgcolor: #282c34
$machine-bgcolor: #424144
$display-bgcolor: #242425
$light-yellow: #ffcc80
$orange-pad: #D88D36
$yellow-pad: #D3CA2B
$lightblue-pad: #49CEC5
$blue-pad: #1A99C0
$red-pad: #F0241B

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap')