$white: #ffffff
$black: #000000
$bgcolor: #282c34
  
body
  background-color: $bgcolor
  margin: 0
  font-family: 'Montserrat'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.App
  .title
    text-align: center
    color: $white
    font-size: 2em
    line-height: 1.2
    font-weight: 700